.terraform/
*.tfstate
*.tfstate.*
*.tfvars
tfplan
tfplan-*
*.tfplan
kubeconfig*.yaml
*.kubeconfig
ssm-kube-api-tunnel*.log
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
